.all {
  font-family: bnazanb;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5%;
}
.head1 {
  color: rgb(114, 64, 64);
  background-color: rgb(222, 186, 255);
  padding-bottom: 11%;
  padding-top: 2%;
}
.vi {
  float: right;
  margin-left: 3%;
}
.vt {
  padding-top: 2.5%;
  margin-right: 3%;
}
#uvt {
  display: flex;
  justify-content: space-between;
}
#wp {
  border-radius: 50%;
  width: 8%;
  margin-left: 2%;
}
#pi {
  display: flex;
  font-weight: bolder;
  font-size: large;
}
#foot {
  text-align: center;
  background-color: aqua;
  border-radius: 50%;
}
